body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
}

a {
  color: #00B7FF;
}

.pair{
  margin-bottom:5px;
}

*
{
  color:#4a2c2a;
}

.slider
{
    width: 7%;
}

/* td {
  border: 1px solid black;
  border-collapse: collapse;

} */
th{
  color:black
}

td
{
  color:#4b1602;
  padding: 15px;
}
td{
  border-top:solid 1px black ;
  border-collapse: collapse;
  font-size:17px;
  width:10%
}
.headt
{
  font-size:18px;
  width : 15%
}

img{
  width : 280px;
}
.sumID
{
  background: none;
  border: none;
  font-size : 18px
}
.headRow
{
  font-size : 24px
}